
<!----------------------- Footer -------------------------->
<footer>
  <div class="ft_div1">
      <div class="div1">
          <img src="/img/n.png" alt="">
          <p>
            Join the School of Traditional Martial Arts today and unlock your potential! Experience expert training in ancient techniques, build discipline, strength, and confidence. Whether you're a beginner or advanced, our supportive community is here to help you grow.
          </p>
      </div>
      <div class="div2">
          <div class="d1">
              <h3>About us</h3>
              <a href="/home">Home</a>
              <a href="/about-us/goju-shin-ryo">Goju Shin Ryu</a>
              <a href="/about-us/school-of-tradistional-martial-arts"> School of Traditional Martial Arts</a>
              <a href="/about-us/organization-charts">Organization Charts</a>
              <a href="/alliance">Alliance</a>             
              <a href="/auth/sign-up">Sign Up</a>
              <a href="/auth/sign-in">Sign In</a>
              <a href="/contact">Contact Us</a>
          </div>
          <div class="d2">
              <h3>Quick Links</h3>
              <a href="/courses">Courses</a>
              <a href="/courses/date">Course Date</a>
              <a href="/shop">Equipments</a>
              <a href="/Membership-application">Membership</a>
              <a href="/media/events">Events</a>
              <a href="/media/post"> Post</a>
              <a href="/media/images">Images</a>
              <a href="/media/video">Video</a>
          </div>
          <div class="d3">
              <h3>
                  Get In Touch
              </h3>
              <p>
                
                Edmonton, AB, Canada, Alberta
              </p>       
              <div id="ft_social_icon_div">
                  <a href="https://web.facebook.com/stmacanada">
                      <img src="/icon/facebook.png" alt="facebook page link icon of {{company_name}} " >
                  </a>  
                  <a href="https://x.com/gojushinryu">
                      <img src="/icon/twitter.png" alt="twitter x profile link icon of {{company_name}} " >
                  </a>
                  <a href="https://www.youtube.com/@jettly03">
                      <img src="/icon/youtube.png" alt="youtube channel link icon of {{company_name}} " >
                  </a>
                  <a href="https://www.instagram.com/gojushinryu">
                     <img src="/icon/instragram.png" alt="instragram account link icon of {{company_name}} " >
                  </a>
                
                  <a href="https://www.linkedin.com/company/school-of-traditional-martial-arts">
                      <img src="/icon/linkedin.png" alt="linkedin page link icon of {{company_name}}" >
                  </a>
                    

              </div>
          </div>
      </div>
    
  </div>
  <hr>
  <div class="ft_div2">
    <h5>
        All &copy; Copyright's are reserved at Goju Shin Ryu 
    </h5>
    <div>
         <a href="/pages/terms_condition.html">
          Terms & Conditions
         </a> |
         <a href="/pages/privacy_policy.html">
          Privacy policy
         </a> |
         <a href="/pages/cookie_policy.html">
          Cookie policy
         </a>
    </div>
  </div>
  

</footer>


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5RSF8L8" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->