<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Check Out </title>
 {{>Links}}
  <link rel="stylesheet" href="/css/shop/checkout.css">
  <script defer src="/js/shop/checkout.js"></script>
</head>

<body>

{{>whiteHeader}}
{{>shopheader}}


<main>


<div class="checkout-container">

    <div class="checkout-body">
        <!-- Main Form Section -->
        <div class="form-section">
            <!-- Shipping Information -->
            <h2>Shipping Information</h2>
            <form class="shipping-form">
                    <input value="{{first_name}}" type="text" placeholder="First Name" required>
                    <input value="{{last_name}}" type="text" placeholder="Last Name" required>
                    <input type="text" placeholder="Reciever Email" value="{{email}}" required>
                    <input type="number" value="{{phone}}"  placeholder="Phone Number" required>
                    <select id="countrySelect" >
                        <option value="canada">Canada</option>
                        <option value="india">India</option>
                    </select>
                    <input  type="text" value="{{district}}" placeholder="District" required>
                    <input type="text" value="{{city}}"  placeholder="City" required>
                    <input type="text" placeholder="Road No / Village / Street" required value="{{street}}">
                    <input type="text" value="{{postcode}}"  placeholder="Zip Code" required>
        
                    <textarea id="" placeholder="Notes">Nothing in Notes</textarea>

            </form>

            <!-- Payment Information -->
            {{!-- <h2>Payment Information</h2>
            <form class="payment-form">
                    <input type="text" placeholder="Card Number" required>
                    <input type="text" placeholder="Expiry Date" required>
                    <input type="text" placeholder="CVV" required>
            </form> --}}
        </div>

        <div class="order-summary">
            <h2>Order Summary</h2>
            <div class="items">
              
            </div>
            <div class="totals">
                <p>Subtotal: $
                  <span class="Subtotal">
                    50
                  </span> .00
                </p>
                <p>Shipping: $
                    <span class="shipping">

                    </span>
                    .00</p>
                {{!-- <p>Taxes: $4.00</p> --}}
                <p><strong>
                    Total: $
                   <span class="total"></span>
                    .00</strong></p>
            </div>
        </div>
    </div>

    <!-- Place Order Button -->
    <div class="checkout-footer">
        <h2>Place Order</h2>
        <div class="btns">
        <button class="paypal-payment">
 <i class="fa-brands fa-paypal"></i>
          <span>
Paypal Payment 
          </span>  
        </button>
        <button class="visa-payment">
            <i class="fa-brands fa-cc-visa"></i>
             <span>
Card Payment 
          </span>  
        </button>
        </div>
    </div>
</div>

</main>

{{>Footer}}

</body>
</html>