<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Control Panal</title>
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="notranslate">
  <meta name="googlebot-news" content="nosnippet">
  <!-- ImportTANT links -->
  <link rel="icon" href="/img/6060.png">
  <link rel="shortcut" href="/img/6060.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/control_panal/massage.css">
  <link rel="stylesheet" href="/css/control_panal/index.css">
  <link rel="stylesheet" href="/css/control_panal/form.section.css">
  <link rel="stylesheet" href="/css/control_panal/massageList.css">
  <link rel="stylesheet" href="/css/control_panal/live-chat-box-conatainer.css">
  <link rel="stylesheet" href="/css/control_panal/order.list.css">
  <link rel="stylesheet" href="/css/control_panal/user.list.css">
  <link rel="stylesheet" href="/css/control_panal/member.list.css">
  <link rel="stylesheet" href="/css/control_panal/gm.list.css">
  <link rel="stylesheet" href="/css/control_panal/product.list.css">
  <link rel="stylesheet" href="/css/control_panal/popup.css">
  <link rel="stylesheet" href="/css/control_panal/courses.css">
  <link rel="stylesheet" href="/css/control_panal/course_enroll_ments.css">
  <link rel="stylesheet" href="/css/control_panal/settings.css">
  <link rel="stylesheet" href="/css/control_panal/Testimonials.css">
  <link rel="stylesheet" href="/css/control_panal/share.media.css">
  <link rel="stylesheet" href="/css/control_panal/countryrepresentative.css">
  <link rel="stylesheet" href="/css/control_panal/customLinksContainer.css">
  <link rel="stylesheet" href="/css/control_panal/GojushinryuMembership.css">
  <link rel="stylesheet" href="/css/control_panal/assets.css">



  <script>
    var global_gst_rate = Number('{{global_gst_rate}}') || 5;
    //   global_gst_rate = global_gst_rate.toString() === 'NaN' ? 5 : global_gst_rate; 
  </script>
  <script defer src="/js/control panal/gm.js"></script>
  <script defer src="/js/control panal/media.auth.js"></script>
  <script defer src="/js/control panal/c.panal.js"></script>
  <script defer src="/js/control panal/Upload.product.js"></script>
  <script defer src="/js/control panal/User.js"></script>
  <script defer src="/js/control panal/Member.js"></script>
  <script defer src="/js/control panal/course.js"></script>
  <script defer src="/js/control panal/Product.js"></script>
  <script defer src="/js/control panal/notication.js"></script>
  <script defer src="/js/control panal/order.js"></script>
  <script defer src="/js/control panal/massage.user.list.js"></script>
  <script defer src="/js/control panal/control.panal.user.massage.js"></script>
  <script defer src="/js/control panal/gm.massase.group.js"></script>
  <script defer src="/js/control panal/course.enrollments.js"></script>
  <script defer src="/js/control panal/uplaod.post.js"></script>
  <script defer src="/js/control panal/settings.js"></script>
  <script defer src="/js/control panal/Testimonials.js"></script>
  <script defer src="/js/control panal/uplaod.event.js"></script>
  <script defer src="/js/control panal/share.media.js"></script>
  <script defer src="/js/control panal/countryrepresentative.js"></script>
  <script defer src="/js/control panal/custom.link.js"></script>
  <script defer src="/js/control panal/custom.link.js"></script>
  <script defer src="/js/control panal/membershipCouponsSettings.js"></script>
  <script defer src="/js/control panal/courseCouponsSettings.js"></script>
  <script defer src="/js/control panal/gojushinryu.memberhsip.js"></script>
  <script defer src="/js/control panal/image.assets.js"></script>
  <script defer src="/js/control panal/video.assets.js"></script>

</head>

<body>

  <!---------------------------- Membership popup ---------------------------->
  <div id="popup_for_membership_data" style="display: none;" class="popup_c">
    <div class="popup_order_action_form">
      <h2>Membership Data</h2>

      <div class="input-box">
        <label>membership name </label>
        <input disabled value="" placeholder="membership_name" type="text">
      </div>

      <div class="input-box">
        <label>membership company</label>
        <input disabled value="" placeholder="membership_company" type="text">
      </div>
      <div class="input-box">
        <label>membership type</label>
        <input disabled value="" placeholder="membership_type" type="text">
      </div>


      <div class="input-box">
        <label>First Name</label>
        <input disabled value="" placeholder="fname" type="text">
      </div>

      <div class="input-box">
        <label>Last Name</label>
        <input disabled value="" placeholder="lname" type="text">
      </div>

      <div class="input-box">
        <label>Email </label>
        <input disabled value="" placeholder="email" type="text">
      </div>

      <div class="input-box">
        <label>phone</label>
        <input disabled value="" placeholder="phone" type="text">
      </div>

      <div class="input-box">
        <label>Date of Birth</label>
        <input disabled value="" placeholder="Date of Birth" type="text">
      </div>


      <div class="input-box">
        <label>Country</label>
        <input disabled value="" placeholder="country" type="text">
      </div>

      <div class="input-box">
        <label>City</label>
        <input disabled value="" placeholder="City" type="text">
      </div>

      <div class="input-box">
        <label>City</label>
        <input disabled value="" placeholder="City" type="text">
      </div>

      <div class="input-box">
        <label>District</label>
        <input disabled value="" placeholder="district" type="text">
      </div>

      <div class="input-box">
        <label>Postcode</label>
        <input disabled value="" placeholder="postcode" type="text">
      </div>

      <div class="input-box">
        <label>Gender</label>
        <input disabled value="" placeholder="gender" type="text">
      </div>

      <div class="input-box">
        <label>Doju Name</label>
        <input disabled value="" placeholder="doju_Name" type="text">
      </div>


      <div class="input-box">
        <label>Instructor</label>
        <input disabled value="" placeholder="instructor" type="text">
      </div>


      <div class="input-box">
        <label>Current Grade</label>
        <input disabled value="" placeholder="current_grade" type="text">
      </div>

      <div class="input-box">
        <label>Previous Injury</label>
        <input disabled value="" placeholder="previous_injury" type="text">
      </div>

      <div class="input-box">
        <label>Is previous Member</label>
        <input disabled value="" placeholder="is_previous_member" type="text">
      </div>

      <div class="input-box">
        <label>membership expiring Date</label>
        <input disabled value="" placeholder="membership_expiring_date" type="text">
      </div>
      <div class="input-box">
        <label>Experience Level</label>
        <input disabled value="" placeholder="experience_level" type="text">
      </div>

      <div class="input-box">
        <label>has violance charge</label>
        <input disabled value="" placeholder="has_violance_charge" type="text">
      </div>

      <div class="input-box">
        <label>Violance Charge </label>
        <input disabled value="" placeholder="violance_charge" type="text">
      </div>

      <div class="input-box">
        <label>has permanent injury</label>
        <input disabled value="" placeholder="has_permanent_injury" type="text">
      </div>

      <div class="input-box">
        <label>Permanent Disabillity</label>
        <input disabled value="" placeholder="permanent_disabillity" type="text">
      </div>




      <div class="pp_btn_box">
        <button class="popup-close-btn">
          Close
        </button>

      </div>

    </div>
  </div>
  <!-- -------------------------- Gojushinryu membership request Popup ------------------------------ -->

  <div id="Gojushinryu-membership-request-Popup" style="display: none;" class="popup_c">
    <div class="popup_order_action_form">
      <h2> Gojushinryu membership request</h2>

      <div class="input-box">
        <label>membership type</label>
        <input disabled value="" placeholder="membership_type" membership_type type="text">
      </div>


      <div class="input-box">
        <label> Name</label>
        <input disabled value="" placeholder="name" name type="text">
      </div>


      <div class="input-box">
        <label>Email </label>
        <input disabled value="" placeholder="email" email type="text">
      </div>

      <div class="input-box">
        <label>phone</label>
        <input disabled value="" placeholder="phone" phone type="text">
      </div>

      <div class="input-box">
        <label>Date of Birth</label>
        <input disabled value="" placeholder="Date of Birth" type="text">
      </div>


      <div class="input-box">
        <label>Country</label>
        <input disabled value="" placeholder="country" country type="text">
      </div>



      <div class="input-box">
        <label>City</label>
        <input disabled value="" placeholder="City" City type="text">
      </div>

      <div class="input-box">
        <label>District</label>
        <input disabled value="" placeholder="district" district type="text">
      </div>

      <div class="input-box">
        <label>Postcode</label>
        <input disabled value="" placeholder="postcode" postcode type="text">
      </div>

      <div class="input-box">
        <label>Gender</label>
        <input disabled value="" placeholder="gender" gender type="text">
      </div>

      <div class="input-box">
        <label>Doju Name</label>
        <input disabled value="" placeholder="doju_Name" doju_Name type="text">
      </div>


      <div class="input-box">
        <label>Instructor</label>
        <input disabled value="" placeholder="instructor" instructor type="text">
      </div>


      <div class="input-box">
        <label>Current Grade</label>
        <input disabled value="" placeholder="current_grade" current_grade type="text">
      </div>

      <div class="input-box">
        <label>Previous Injury</label>
        <input disabled value="" placeholder="previous_injury" previous_injury type="text">
      </div>

      <div class="input-box">
        <label>Is previous Member</label>
        <input disabled value="" placeholder="is_previous_member" is_previous_member type="text">
      </div>

      <div class="input-box">
        <label>Previous M expiring Date</label>
        <input disabled value="" placeholder="membership_expiring_date" membership_expiring_date type="text">
      </div>
      <div class="input-box">
        <label>Experience Level</label>
        <input disabled value="" placeholder="experience_level" experience_level type="text">
      </div>

      <div class="input-box">
        <label>has violance charge</label>
        <input disabled value="" placeholder="has_violance_charge" has_violance_charge type="text">
      </div>

      <div class="input-box">
        <label>Violance Charge </label>
        <input disabled value="" placeholder="violance_charge" violance_charge type="text">
      </div>

      <div class="input-box">
        <label>has permanent injury</label>
        <input disabled value="" placeholder="has_permanent_injury" has_permanent_injury type="text">
      </div>

      <div class="input-box">
        <label>Permanent Disabillity</label>
        <input disabled value="" placeholder="permanent_disabillity" permanent_disabillity type="text">
      </div>

      <div class="pp_btn_box">
        <button class="popup-close-btn">Close</button>
        <button style="background-color: green;border:2px solid green;width:100px;color:white" approve>Approved</button>
        <button style="background-color: red;border:2px solid red;width:145px;" Delete>Cancel&Delete</button>
      </div>

    </div>
  </div>
  <!-- -------------------------- order PopUp ------------------------------ -->

  <div id="popup_order_action" style="display: none;" class="popup_c">
    <div class="popup_order_action_form">
      <h2>
        See Order
      </h2>
      <div class="input-box">
        <label>Reciever Name</label>
        <input disabled value="Reciever Name" placeholder="R.Name" type="text">
      </div>

      <div class="input-box">
        <label>Reciever Number</label>
        <input disabled value="R. Number" placeholder="R.Number" type="text">
      </div>

      <div class="input-box">
        <label>Reciever Email</label>
        <input disabled value="R.Email" placeholder="R.Email" type="text">
      </div>


      <div class="input-box">
        <label>Buyer Email</label>
        <input disabled value="Buyer Email" placeholder="Buyer Email" type="text">
      </div>

      <div class="input-box">
        <label>Shipping Country</label>
        <input disabled value="India" placeholder="country" type="text">
      </div>
      <div class="input-box">
        <label>Shipping District</label>
        <input disabled value="Delhi" placeholder="district" type="text">
      </div>
      <div class="input-box">
        <label>Shipping City</label>
        <input disabled value="London" placeholder="city" type="text">
      </div>
      <div class="input-box">
        <label>Shipping Street/Village</label>
        <input disabled value="undefined" placeholder="street" type="text">
      </div>
      <div class="input-box">
        <label>Shipping zipcode</label>
        <input disabled value="undefined" placeholder="postcode" type="text">
      </div>
      <div class="txt-box">
        <label>Buyer Notes</label>
        <textarea value="undefined" placeholder="notes" disabled></textarea>
      </div>

      <div class="input-box">
        <label>Order Id</label>
        <input disabled value="undefined" placeholder="Order Id" type="text">
      </div>

      <div class="input-box">
        <label>Quantity</label>
        <input disabled value="undefined" placeholder="quantity" type="text">
      </div>

      <div class="input-box">
        <label>Total Product Price</label>
        <input value="" placeholder="TotalProductPrice" type="text" disabled>
      </div>
      <div class="input-box">
        <label>Shipping</label>
        <input value="" placeholder="total shipping" type="number">
      </div>
      <div class="input-box">
        <label>Tax</label>
        <input value="" placeholder="tax" type="number">
      </div>
      <div class="input-box">
        <label>Total Price</label>
        <input value="0" placeholder="total" type="number" disabled>
      </div>
      <table>
        <tr>

          <th>No</th>
          <th>Image</th>
          <th>name</th>
          <th>quantity</th>
          <th>size</th>
          <th>price</th>
        </tr>

      </table>
      <h2>Action</h2>
      <div class="input-box ">
        <label for="">Mark </label>
        <select pp_select disabled>

          <option value="Pending" style="display: none;">Pending</option>
          <option value="Payment Needed" style="display:none">Payment Needed</option>
          <option value="Completed" style="display: none;">Completed </option>
          <option value="In Process" style="display: none;">In Process </option>
          <option value="In Delivery" style="display: none;">In Delivery </option>
          <option value="Cancelled" style="display: none;">Cancelled</option>
        </select>
      </div>
      <div class="txt-box c-reason-box">
        <label>Cancell Reason</label>
        <textarea
          placeholder="If you want to cancel the order then you have to give the write the reasson .And Buyer will get a notification that order is cancel"
          class="cancel_notes"></textarea>
      </div>



      <div class="pp_btn_box">
        <button class="popup-close-btn">
          Close
        </button class="popup-close-btn">

      </div>

    </div>




  </div>

  <!------------------------ product PopUp ------------------------------>
  <div style="display: none;" class="popup_c" id="popup_product_action">

    <div class="popup_order_action_form">

      <h2>
        Product Action
      </h2>

      <div class="input-box">
        <label>Name</label>
        <input value="Martial Art Cloths" type="text">
      </div>

      <div class="input-box">
        <label>Stock</label>
        <input value="7" type="text">
      </div>

      <div class="input-box">
        <label> Price</label>
        <input value="93$" type="text">
      </div>

      <div class="txt-box">
        <label>Description</label>
        <textarea value="Under Contruction"></textarea>
      </div>

      <div class="input-box">
        <label for="">Cetegory </label>
        <select name="" id="">
          <option value="">Cloth</option>
          <option value="">weapons</option>
        </select>
      </div>


      <div class="pp_btn_box">
        <button class="popup-close-btn">
          Close
        </button>
        <button class="popup-close-btn">
          Save
        </button>
      </div>

    </div>
  </div>

  <!------------------------ GM PopUp ------------------------------>
  <div id="popup_GM_action" style="display: none;" class="popup_c">
    <div class="popup_order_action_form">
      <h2>
        GM Action
      </h2>
      <div class="input-box">
        <label>Name</label>
        <input value="Dr. Vikram Kapoor" type="text">
      </div>
      <div class="txt-box">
        <label>Bio</label>
        <textarea></textarea>
      </div>
      <div class="input-box">
        <label>ID</label>
        <input value="vikramkapoor" type="text">
      </div>
      <div class="input-box">
        <label> Password</label>
        <input value="93$e443d" type="text">
      </div>

      <div class="input-box">
        <label> Restrict Account</label>
        <select name="" id="">
          <option value="">False</option>
          <option value="">True</option>
        </select>
      </div>



      <div class="pp_btn_box">
        <button class="popup-close-btn">
          Close
        </button>
        <button class="popup-close-btn">
          Save
        </button>
      </div>

    </div>
  </div>

  <!------------------------ user PopUp ------------------------------>
  <div id="popup_user_action" style="display: none;" class="popup_c">
    <div class="popup_order_action_form">
      <h2>
        User Action
      </h2>
      <div class="input-box">
        <label>Name</label>
        <input disabled>
      </div>
      <div class="input-box">
        <label>Email</label>
        <input disabled>
      </div>
      <div class="input-box">
        <label>Phone</label>
        <input disabled>
      </div>
      <div class="input-box">
        <label>Country</label>
        <input disabled>
      </div>
      <div class="input-box">
        <label>ID</label>
        <input disabled>
      </div>


      <div class="pp_btn_box">
        <button class="popup-close-btn">Close</button>
        <button make_black_belt style="background-color: orangered;color:white;width:120px;border:2px solid orangered;">
          Black Belt</button>
      </div>

    </div>
  </div>

  <!------------------------ create product size PopUp ------------------------------>
  <div id="edit_product_size_popup" style="display: none;" class="popup_c">
    <div class="popup_order_action_form">
      <h2>
        Size Action
      </h2>
      <div class="input-box">
        <label>Size Name</label>
        <input value="m" placeholder="M size" type="text">
      </div>
      <div class="input-box">
        <label> Price</label>
        <input value="23" placeholder="20 USD" type="number">
      </div>



      <div class="pp_btn_box">
        <button class="popup-close-btn">
          Close
        </button>
        <button class="popup-save-btn">
          Save
        </button>
      </div>

    </div>
  </div>

  <!------------------------update product size PopUp ------------------------------>
  <div id="edit_product_size_popup_for_updating" style="display: none;" class="popup_c" targetedDIV="">
    <div class="popup_order_action_form">
      <h2>
        Size Action
      </h2>
      <div class="input-box">
        <label>Size Name</label>
        <input value="0" placeholder="M size" type="text">
      </div>
      <div class="input-box">
        <label> Price</label>
        <input value="0" placeholder="30 DOLAR" type="number">
      </div>



      <div class="pp_btn_box">

        <button class="popup-save-btn">
          Save
        </button>
      </div>

    </div>
  </div>

  <!------------------------ Start The Page ------------------------------>
  <Header>
    <h1>Control Panal</h1>
  </Header>
  <main>

    <section id="ct-corner">
      <div class="sidebar-div">
        <div class="st-nav-main">
          <h2>options</h2>
          <a id="massage_href">Massages<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="GrandMaster_massage">GM Massage<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="notification_href">Create Notification<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="upload_post_href">Upload Post<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="uplaod_product_href">Uplaod Product <button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="course_href" style="display: none;"> Course <button><i
                class="fa-solid fa-angle-right"></i></button></a>
          <a id="share_media_href">Share To Social Media<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="uplaod_event_href">Upload Event<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="order_href">Orders<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="user_page_href">Student's <button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="gm_href">Grand Master<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="member_href">Members <button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="G_Membership_Request_href">G Membership Request<button><i
                class="fa-solid fa-angle-right"></i></button></a>

          <a id="product_href">Product <button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="course_enrolments_href">Course EnrollMents<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="Testimonials_href">Testimonials<button><i class="fa-solid fa-angle-right"></i></button></a>
          <a id="Country_Representative_href">Country Representative<button><i
                class="fa-solid fa-angle-right"></i></button></a>
          {{!-- <a id="customLinks_href">Create custom Offers<button><i class="fa-solid fa-angle-right"></i></button></a> --}}
          <a id="assets_href">Assets<button><i class="fa-solid fa-angle-right"></i></button></a>

          <a id="settings_href">Settings<button><i class="fa-solid fa-angle-right"></i></button></a>


        </div>

      </div>
      <div class="ct_main">
        <div class="heading_sec">
          <h2 main-h2> Create Notification </h2>
        </div>
        <!-----------------------Gm massage ----------------------------->
        <div ct_section style="display: none;" targetedElement="GrandMaster_massage" id="grandMaster_massages_container"
          class="chat-box-container">
          <h2>Massages</h2>
          <div class="chat-box">
            <div class="chat-massage-cobtainer">

            </div>
            <div class="send-chat-massage-containar">
              <textarea placeholder="Write a massage" name="" id=""></textarea>
              <button class="send-chat-massage-containar-btn">
                Send
              </button>
            </div>
          </div>

        </div>
        <!-----------------------St massage massage list ----------------------------->

        <div ct_section style="display: none;" targetedElement="massage_href" class="massage-list-box">
          <div class="massages">
            <div class="massage">
              10 Massages
            </div>

          </div>

        </div>
        <!-----------------------St live massage ----------------------------->

        <div ct_section style="display: none;" id="student_massages_container_for_live_massage"
          class="live-chat-box-container">
          <div class="st-massager-info">
            <img src="/img/samurai.jpg" massager_image alt="">
            <b massager_name>
              Mubtasim Fuad
            </b>
          </div>
          <div class="chat-box">
            <div class="chat-massage-cobtainer">

              <div class="t-massage">
                <div class="massage">
                  <b class="sender-name">
                    Varun Jettly
                  </b>
                  <p class="sender-p">
                    Sir, Wellcome to Our Website
                  </p>
                </div>
                <span class="massage-time"></span>
              </div>
              <div class="f-massage">
                <div class="massage">
                  <b class="sender-name">You</b>
                  <p class="sender-p">
                    I am making something, and Show you how it will work...
                  </p>
                </div>

              </div>
            </div>
            <div class="send-chat-massage-containar">
              <textarea placeholder="Write a massage" sendMassageTextArrea name="" id=""></textarea>
              <button style="transition: all .6s ease;" class="send-chat-massage-containar-btn">
                Send
              </button>
            </div>
          </div>

        </div>


        <!-----------------------Upload Notification ----------------------------->

        <div id="upload-Notification-conatiner" targetedElement="notification_href" style="display: none;" ct_section
          class="form-section">


          <div class="s-sec-input-box">
            <label for="s-sec-name-inp">Title</label>
            <input type="Text" name="Title" id="s-sec-name-inp">
          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-bio-inp">Description</label>
            <input type="Text" name="Description" id="s-sec-bio-inp">
          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-bio-inp">Type</label>
            <select>
              <option value="mail">Mail Notification</option>
              <option value="basic">Basic Notification</option>
            </select>
          </div>
          <div class="s-sec-btn-box">
            <button notification_btn> Send</button>
          </div>
        </div>
        <!-----------------------Upload Product ----------------------------->


        <div id="upload-Product-conatiner" targetedElement="uplaod_product_href" style="display: none;" ct_section
          class="form-section">
          <div class="upload_sec_event_tumb_img_inp_box">
            <h4>
              Thumnail
            </h4>
            <label for="upload_sec_event_tumb_img_inp_for_uploading_the_products">
              <b>Click To Upload <br>
                Thumbnail
              </b>
            </label>
            <input multiple="false" style="display: none" type="file"
              id="upload_sec_event_tumb_img_inp_for_uploading_the_products">
          </div>
          <div id="product_upload_container_product_images_contaioner" class="upload_sec_env_img_inp_box">

            <label for="upload_sec_product_image_inp_for_uploading_the_products">
              Upload Images
            </label>


            <input style="display: none" type="file" id="upload_sec_product_image_inp_for_uploading_the_products">

          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-name-inp">Product Name</label>
            <input type="Text" placeholder="Write name of the equipment" inp_for_product_name id="s-sec-name-inp">
          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-bio-inp">Product Description</label>
            <textarea placeholder="Write the description of the equipment" inp_for_product_des></textarea>
          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-bio-inp">Size Details</label>
            <textarea placeholder="Write the details of the equipment size" inp_for_product_size_details></textarea>
          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-name-inp"> Cetegory</label>
            <Select inp_for_product_cetegory_select>
              <option value="weapons">weapons</option>
              <option value="Cloth">Cloth</option>
            </Select>
          </div>
          <div class="size_price_container">
            <strong>Add Size and Price</strong>
            <table class="size_price_table">
              <tr is_head="yes">
                <th width="10%">No</th>
                <th width="25%">Size</th>
                <th width="25%">Price</th>
                <th width="20%">Edit</th>
                <th width="20%">Delete</th>
              </tr>

            </table>
            <div class="add_size_price">
              <input type="text" placeholder="SIZE">
              <input type="number" placeholder="PRICE">
              <button class="add_size_price_btn"> ADD</button>
            </div>
          </div>



          <div class="s-sec-btn-box">
            <button uploadTheProductBtn style="border: 2.2px solid black;font-size:18px;"> Upload</button>
          </div>
        </div>
        <!-----------------------Upload Post ----------------------------->

        <div id="upload-post-conatiner" targetedElement="upload_post_href" style="display: none;" ct_section
          class="form-section">

          <div class="upload_sec_event_tumb_img_inp_box">
            <h4>
              Thumnail
            </h4>
            <label for="upload_post_thumb">
              <b>Click To Upload <br>
                Thumbnail
              </b>
            </label>
            <input multiple="false" style="display: none" type="file" id="upload_post_thumb">

          </div>
          <div images__ class="upload_sec_env_img_inp_box">

            <label for="upload_p_images_input">
              Upload Images

              <input style="display: none" type="file" id="upload_p_images_input">
            </label>


          </div>

          <div class="s-sec-input-box">
            <label for="s-sec-name-inp">Title</label>
            <input type="Text" placeholder="title" id="s-sec-name-inp">
          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-bio-inp">Description</label>
            <textarea type="Text" placeholder="description" id="s-sec-bio-inp"></textarea>
          </div>

          <div class="s-sec-btn-box">
            <button uplaod_btn style="
     background-color: black;
     color:white">Upload</button>
          </div>

        </div>


        <!-----------------------Gojushinryu Membership Request list ----------------------------->

        <div ct_section targetedElement="G_Membership_Request_href" style="display: none;"
          class="Gojushinryu-Membership-Request-container">
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Student Image</th>
                <th>Student Name</th>
                <th>Requested</th>
                <th>Approved</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#</td>
                <td width="17%"><img src="/img/spinner.svg" alt="student image"></td>
                <td>Muhammad Mubtasim</td>
                <td>20/02/2024</td>
                <td style="color:orangered;">Yes</td>
                <td><button>Details</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-----------------------order list ----------------------------->

        <div ct_section targetedElement="order_href" style="display: none;" class="order-list-box">

          <table>
            <tr>
              <th>
                No
              </th>
              <th>
                Reciever
              </th>
              <th>
                Date
              </th>
              <th>
                Price
              </th>
              <th>
                Status
              </th>
              <th>
                Is Paid?
              </th>
              <th>
                Action
              </th>

            </tr>

          </table>


        </div>
        <!----------------------- User list ----------------------------->

        <div ct_section style="display: none;" id="list-of-user" targetedElement="user_page_href" class="user-list-box">

          <div class="users">
            <div length class="user">
              User
            </div>



          </div>

        </div>


        <!----------------------- Member List list ----------------------------->

        <div ct_section style="display: none;" id="list-of-member" targetedElement="member_href"
          class="member-list-box">
          <table>
            <tr>
              <th width="10%">No</th>
              <th width="16%">images</th>
              <th width="">Name</th>
              <th width="20%">Membership</th>
              <th width="12.5%">Date</th>
              <th width="13.5%">Action</th>
            </tr>
          </table>


        </div>



        <!----------------------- Grand Master list ----------------------------->

        <div ct_section style="display: none;" targetedElement="gm_href" id="list-of-gm" class="gm-list-box">
          <table>

            <tr>
              <th width="16%">Image</th>
              <th width="28%">Name</th>
              <th width="40%">Organization</th>
              <th width="16%">Action</th>
            </tr>



          </table>


          <div class="form-section">

            <strong> Add Grand Master </strong>


            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">Name</label>
              <input type="Text" placeholder="name">
            </div>


            <div class="s-sec-input-box">
              <label>email</label>
              <input type="Text" placeholder="email">
            </div>

            <div class="s-sec-input-box">
              <label>Organization</label>
              <input type="Text" placeholder="Organiztaion">
            </div>

            <div class="s-sec-input-box">
              <label>Username</label>
              <input type="text" placeholder="for login and should be unique">
            </div>

            <div class="s-sec-input-box">
              <label>password</label>
              <input type="password" placeholder="******">
            </div>

            <div class="s-sec-btn-box">
              <button style="background-color: black;color:white" upload_gm_btn>Add</button>
            </div>
          </div>


        </div>


        <!----------------------- product list ----------------------------->

        <div ct_section style="display: none;" targetedElement="product_href" class="product-list-box">
          <div class="products">
            <div class="product">
              Products
            </div>


          </div>

        </div>



        <!-------------------------- course list -------------------------->

        <div ct_section style="display: none;" targetedElement="course_href" id="couses-list-and-uplaod-container">


          <table>
            <tr>
              <th width="20%">Image</th>
              <th width="45%">name</th>
              <th width="15%">Price</th>
              <th width="20%">Action</th>
            </tr>
            {{!--
            <tr>
              <td><img src="/img/join.jpg" alt=""></td>
              <td>
                <strong>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem nesciunt
                </strong>
              </td>
              <td>
                <span class="price">20.00$</span>
              </td>
              <td> <button class="action">Action</button></td>
            </tr>
            --}}

          </table>

          <div class="form-section">

            <div class="upload_sec_event_tumb_img_inp_box">
              <h4>
                Thumnail
              </h4>
              <label for="course-thumb-inp">
                <b>Click To Upload <br>
                  Thumbnail
                </b>
              </label>
              <input multiple="false" style="display: none" type="file" id="course-thumb-inp">

            </div>
            <div id="images_container" class="upload_sec_env_img_inp_box">

              <label for="_images_inp">
                Upload Images
              </label>
              <input style="display: none" type="file" id="_images_inp">

            </div>


            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">Title</label>
              <input type="Text" name="Title" id="s-sec-name-inp">
            </div>

            <div class="s-sec-input-box">
              <label for="s-sec-bio-inp">Description</label>
              <input type="Text" name="Description" id="s-sec-bio-inp">
            </div>
            <div class="s-sec-input-box">
              <label for="s-sec-bio-inp">Price</label>
              <input type="number" name="Price" id="s-sec-bio-inp">
            </div>

            <div class="s-sec-input-box">
              <label for="dateInput">Class's Dates</label>
              <input type="Text" id="dateInput">
            </div>

            <div class="s-sec-input-box">
              <label for="dateInput">Duration</label>
              <input type="Text" placeholder="6 Months" id="course_duration_inp">
            </div>
            <div class="s-sec-input-box">
              <label for="dateInput">Senior Start Time</label>
              <input type="time" id="SeniorStartTime">
            </div>

            <div class="s-sec-input-box">
              <label for="dateInput">Senior End Time</label>
              <input type="time" id="SeniorEndTime">
            </div>

            <div class="s-sec-input-box">
              <label for="dateInput">Junior Start Time</label>
              <input type="time" id="juniorStartTime">
            </div>

            <div class="s-sec-input-box">
              <label for="dateInput">Junior End Time</label>
              <input type="time" id="juniorEndTime">
            </div>


            <div class="s-sec-btn-box">
              <button style="background-color: black;color:white" upload_course_btn>Upload</button>
            </div>
          </div>






        </div>

        <!---------------------------- course enrollments ----------------------------->
        <div ct_section style="display: none;" targetedElement="course_enrolments_href"
          class="courses-enrollment-list-container" id="couses-enrollment-list-container">


          <div class="popup_c">
            <div class="popup_order_action_form">
              <div class="popup_header">
                enrollment Details
                <button class="close-btn " onclick="closePopup()">&times;</button>
              </div>

              <div class="popup_content">
                <label for="">Student Image</label>
                <img src="" class="couse-enrollment-image" course_student_image alt="">

                <div class="input-box">
                  <label>Student Name</label>
                  <input disabled value="Student Name" placeholder="Student Name" type="text">
                </div>
                <div class="input-box">
                  <label>Student Number</label>
                  <input disabled value="Student Number" placeholder="Student Number" type="text">
                </div>
                <div class="input-box">
                  <label>Student Email</label>
                  <input disabled value="Student Email" placeholder="Student Email" type="text">
                </div>

                <div class="input-box">
                  <label>Student Address</label>
                  <input disabled value="Student Address" placeholder="Student Address" type="text">
                </div>


                <div class="input-box">
                  <label>Date of Birth</label>
                  <input disabled value="Student Address" placeholder="Student Address" type="text">
                </div>


                <div class="input-box">
                  <label>Gender</label>
                  <input disabled value="Student Address" placeholder="Student Address" type="text">
                </div>



                <div class="input-box">
                  <label>Convicted of Violence</label>
                  <input disabled value="Student Address" placeholder="Student Address" type="text">
                </div>

                <div class="input-box">
                  <label>Medical Conditions That Will Effect You</label>
                  <input disabled value="Student Address" placeholder="Student Address" type="text">
                </div>

                <div class="input-box">
                  <label>Disability</label>
                  <input disabled value="Student Address" placeholder="Student Address" type="text">
                </div>


                <div class="txt-box">
                  <label>Disability Details</label>
                  <textarea disabled value="Student Address" placeholder="Student Address" type="text"></textarea>
                </div>

                <div class="txt-box">
                  <label>Purpose for Joining Karate</label>
                  <textarea disabled value="Student Address" placeholder="Student Address" type="text"></textarea>
                </div>
              
                <div class="input-box">
                  <label>Student Signature</label>
                  <input disabled value="Student Signature" placeholder="Student Signature" type="text">
                </div>
                
                <div class="input-box">
                  <label>Parent Signature</label>
                  <input disabled value="Student Signature" placeholder="Parent Signature" type="text">
                </div>

                <table>
                  <tr>
                    <th>Date</th>
                    <th>Payment Amount</th>
                    <th>Paid</th>
                    <th>Payment Date</th>
                  </tr>
                  <tr>
                    <td>January 2024</td>
                    <td>$100.00</td>
                    <td>Paid</td>
                    <td>02/02/2024</td>
                  </tr>
                </table>

                <div class="btn-group">
                  <button class="closebtn">Close</button>
                  <button paymentRequest>Payment Request</button>
                  <Button Delete>Delete</Button>
                </div>
              </div>
            </div>
          </div>

          <table class="main_table">
            <thead>
              <tr>
                <th>Enrollment ID</th>
                <th>Course Name</th>
                <th>Student Name</th>
                <th>Paid This Month</th>
                <th>Enrollment Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>



            </tbody>
          </table>

        </div>


        <!----------------------- Settings ----------------------------->

        <div class="settings-container-main" targetedElement="settings_href" style="display: none;" ct_section>
          <div id="settings-conatiner" class="form-section">


            <div class="s-sec-input-box">
              <label for="s-sec-name-inp"> home video url </label>
              <input type="Text" placeholder="like http://cloudinary/video/****" value="{{home_video_url}}"
                id="h-video-url-inp">
            </div>
            <strong>Dates of Course</strong>

            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">Online Classes</label>
              <input type="Text" placeholder="please give date as 0,1,2,3,4,5,6" value="{{date_of_online_class}}"
                id="o-class-date">
            </div>

            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">Regular Classes</label>
              <input type="Text" placeholder="please give date as 0,1,2,3,4,5,6" value="{{date_of_regular_class}}"
                id="r-class-date">
            </div>


            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">Woments Defence Classes</label>
              <input type="Text" placeholder="please give date as 0,1,2,3,4,5,6"
                value="{{date_of_womens_defence_class}}" id="w-class-date">
            </div>


            <strong>Fees Of course</strong>
            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">Regular Classes</label>
              <input type="number" placeholder="Fees" value="{{fees_of_reqular_class}}" id="fees_of_reqular_class">
            </div>

            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">Bhangra Fitness Class for All Ages</label>
              <input type="number" placeholder="Fees" value="{{fees_of_Bhangra_fitness}}" id="fees_of_Bhangra_fitness">
            </div>


            <strong>Others</strong>

            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">GST RATE (%)</label>
              <input type="number" placeholder="Fees" value="{{gst_rate}}" id="gst_rate">
            </div>

            <strong>Authenticated Media</strong>

            <div class="auth_div">
              <div class="icon_div">
                <img src="/icon/youtube.png" alt="youtube icon">
                <b>Youtube</b>
                {{!-- <i yt_status_icon class="fa-solid fa-close"></i> --}}
              </div>
              <button auth_btn_youtube style="background-color: black;">Login</button>
            </div>

            <div class="auth_div">
              <div class="icon_div">
                <img src="/icon/linkedin.png" alt="linkedin icon">
                <b>Linkedin</b>
                {{!-- <i linkedin_status_icon class="fa-solid fa-check"></i> --}}
              </div>
              <button auth_btn_linkedin style="background-color: black;">Login</button>
            </div>

            <div class="auth_div">
              <div class="icon_div">
                <img src="/icon/tiktok.png" alt="tiktok icon">
                <b>Tiktok</b>
                {{!-- <i tiktok_status_icon class="fa-solid fa-check"></i> --}}
              </div>
              <button auth_btn_tiktok style="background-color: black;">Login</button>
            </div>

            <div class="auth_div">
              <div class="icon_div">
                <img src="/icon/facebook.png" alt="tiktok icon">
                <b>Facebook</b>
                {{!-- <i facebook_status_icon class="fa-solid fa-check"></i> --}}
              </div>
              <button auth_btn_facebook style="background-color: black;">Login</button>
            </div>



            <div class="s-sec-btn-box">
              <button save_btn
                style="transition: all .5s ease;background-color:black;color:white;opacity :0.6;">Save</button>
            </div>

          </div>

          <div id="settings-of-membership-coupons-container" class="settings-of-coupons-container">
            <strong>Membership Coupon Details</strong>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Rate (%)</th>
                  <th>Expiration Date</th>
                  <th>Actions</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
            <strong>Create Coupon</strong>
            <form id="couponForm">
              {{!-- <label for="couponName">Coupon Name</label> --}}
              <input type="text" couponName name="couponName" placeholder="coupon name" maxlength="20" minlength="1">

              {{!-- <label for="couponCode">Coupon Code</label> --}}
              <input type="text" couponCode placeholder="coupon code" maxlength="20" minlength="1">

              {{!-- <label for="couponRate">Rate (%)</label> --}}
              <input type="number" couponRate placeholder="discount rate" min="0" max="75" value="">

              {{!-- <label for="expirationDate">Expiration Date</label> --}}
              <input type="text" expirationDate placeholder="Expiration Date" onblur="(this.type='text')"
                onfocus="(this.type='date')">

              <button add_coupon_btn>Add</button>
            </form>
          </div>
          <div id="settings-of-course-coupons-container" class="settings-of-coupons-container">
            <strong>Course Coupon Details</strong>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Rate (%)</th>
                  <th>Expiration Date</th>
                  <th>Actions</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
            <strong>Create Coupon</strong>
            <form id="couponForm">
              {{!-- <label for="couponName">Coupon Name</label> --}}
              <input type="text" couponName name="couponName" placeholder="coupon name" maxlength="20" minlength="1">

              {{!-- <label for="couponCode">Coupon Code</label> --}}
              <input type="text" couponCode placeholder="coupon code" maxlength="20" minlength="1">

              {{!-- <label for="couponRate">Rate (%)</label> --}}
              <input type="number" couponRate placeholder="discount rate" min="0" max="75" value="">

              {{!-- <label for="expirationDate">Expiration Date</label> --}}
              <input type="text" expirationDate placeholder="Expiration Date" onblur="(this.type='text')"
                onfocus="(this.type='date')">

              <button add_coupon_btn>Add</button>
            </form>
          </div>
        </div>

        <!-----------------------Upload Event ----------------------------->

        <div id="upload-event-conatiner" targetedElement="uplaod_event_href" style="display: none;" ct_section
          class="form-section">

          <div class="upload_sec_event_tumb_img_inp_box">
            <h4>
              Thumnail
            </h4>
            <label for="upload_event_thumb_input">
              <b>Click To Upload <br>
                Thumbnail
              </b>
            </label>
            <input multiple="false" style="display: none" type="file" id="upload_event_thumb_input">

          </div>
          <div id="product_upload_container_product_images_contaioner" class="upload_sec_env_img_inp_box">

            <label for="event_image_upload_input">
              Upload Images
            </label>
            <input style="display: none" type="file" id="event_image_upload_input">

          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-name-inp">Event Title</label>
            <input type="Text" placeholder="Write the Event Title" id="s-sec-name-inp">
          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-bio-inp">Event Description</label>
            <textarea placeholder="Write the description of the event"></textarea>
          </div>
          <div class="s-sec-input-box">
            <label for="s-sec-name-inp">Event Date</label>
            <input type="date" placeholder="Event Date" id="s-sec-name-inp">
          </div>

          <div class="s-sec-input-box">
            <label for="s-sec-name-inp">Organizing Country</label>
            <input type="text" placeholder="Organizing Country" id="s-sec-name-inp">
          </div>

          <div class="s-sec-input-box">
            <label for="s-sec-name-inp">Particapating Country</label>
            <input type="number" placeholder="Particapating Country" id="s-sec-name-inp">
          </div>

          <div class="s-sec-input-box">
            <label for="s-sec-name-inp">Particapating Atletes</label>
            <input type="number" placeholder="Particapating Atletes" id="s-sec-name-inp">
          </div>

          <div class="s-sec-btn-box">
            <button uploadEventButton> Upload</button>
          </div>
        </div>


        <!----------------------- share to social media ----------------------------->


        <div style="display: none;" ct_section id="share-media-conatiner" targetedElement="share_media_href">
          <div share_video_container class="form-section">
            <strong>Uplaod Video</strong>

            <div class="video_inp_div">
              <label for="social_media_video_uplaod_input">
                <input type="file" accept="video/mp4" id="social_media_video_uplaod_input" style="display: none;">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <strong>Uplaod Video</strong>
              </label>
            </div>

            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">Title</label>
              <input type="Text" title_of_the_post placeholder="Write name of the title of the post"
                id="s-sec-name-inp">
            </div>
            <div class="s-sec-input-box">
              <label for="s-sec-bio-inp"> Description</label>
              <textarea description_of_the_post
                placeholder="Write the description of the Description of the post"></textarea>
            </div>
            <div class="tags_div">
              <ul class="tags">

              </ul>
              <textarea name="" tags_textarea placeholder="write the tags"></textarea>
            </div>
            <div class="form_icon_grid">
              <label class="icon_label_box" for="check-input-vid-yt">
                <img src="/icon/youtube.png" alt="">
                <input type="checkbox" checked id="check-input-vid-yt">
              </label>
              <label class="icon_label_box" for="check-input-vid-fb">
                <img src="/icon/facebook.png" alt="">
                <input type="checkbox" checked name="" id="check-input-vid-fb">
              </label>
              <label class="icon_label_box" for="check-input-vid-ttk">
                <img src="/icon/tiktok.png" alt="">
                <input type="checkbox" checked name="" id="check-input-vid-ttk">
              </label>
              <label class="icon_label_box" for="check-input-vid-istr">
                <img src="/icon/instragram.png" alt="">
                <input type="checkbox" checked name="" id="check-input-vid-istr">
              </label>
              <label class="icon_label_box" for="check-input-vid-twitter">
                <img src="/icon/twitter.png" alt="">
                <input type="checkbox" checked name="" id="check-input-vid-twitter">
              </label>
              <label class="icon_label_box" for="check-input-vid-link">
                <img src="/icon/linkedin.png" alt="">
                <input type="checkbox" checked name="" id="check-input-vid-link">
              </label>
            </div>


            <div class="s-sec-btn-box">
              <button uploadshareblePostBtn> Upload</button>
            </div>
          </div>
          <div share_image_container class="form-section">
            <strong>Uplaod Image</strong>

            <div id="product_upload_container_product_images_contaioner" class="upload_sec_env_img_inp_box">

              <label for="social_media_share_image_input">
                Upload Images
              </label>
              <input style="display: none" multiple type="file" accept="image/*" id="social_media_share_image_input">

            </div>
            <div class="s-sec-input-box">
              <label for="s-sec-name-inp">description</label>
              <input type="text" placeholder="Write name of the description of the post" id="s-sec-name-inp">
            </div>

            <div class="form_icon_grid">
              <label class="icon_label_box" for="check-input-img-yt">
                <img src="/icon/youtube.png" alt="">
                <input type="checkbox" checked id="check-input-img-yt">
              </label>
              <label class="icon_label_box" for="check-input-img-fb">
                <img src="/icon/facebook.png" alt="">
                <input type="checkbox" checked name="" id="check-input-img-fb">
              </label>
              <label class="icon_label_box" for="check-input-img-ttk">
                <img src="/icon/tiktok.png" alt="">
                <input type="checkbox" checked name="" id="check-input-img-ttk">
              </label>
              <label class="icon_label_box" for="check-input-img-istr">
                <img src="/icon/instragram.png" alt="">
                <input type="checkbox" checked name="" id="check-input-img-istr">
              </label>
              <label class="icon_label_box" for="check-input-img-twitter">
                <img src="/icon/twitter.png" alt="">
                <input type="checkbox" checked name="" id="check-input-img-twitter">
              </label>
              <label class="icon_label_box" for="check-input-img-link">
                <img src="/icon/linkedin.png" alt="">
                <input type="checkbox" checked name="" id="check-input-img-link">
              </label>
            </div>

            <div class="s-sec-btn-box">
              <button uploadshareblePostBtn> Upload</button>
            </div>
          </div>

        </div>

        <!-------------------------- Testimonials ----------------------------->
        <div id="Testimonials-conatiner" targetedElement="Testimonials_href" style="display: none;" ct_section>

          <table>
            <tr>
              <th>Image</th>
              <th>Appreciator</th>
              <th>Appreciator job role</th>
              <th>edit</th>
              <th>Delete</th>

            </tr>
            <tr>

            </tr>
          </table>

          {{!-- Popup --}}

          <div id="edit_testimonial_popup" style="display: none;" class="popup_c">
            <div class="popup_order_action_form">

              <h2>
                Edit Testimonials
              </h2>
              {{!--
              <strong>Image</strong>
              <div class="change-image">
                <input type="file">
                <label></label>
              </div>
              --}}
              <div class="input-box">
                <label>Appreciator</label>
                <input type="text" placeholder="Appreciator Name">
              </div>
              <div class="input-box">
                <label for="">Appreciator Job Position</label>
                <input type="text" placeholder="Appreciator Job Position">
              </div>
              <div class="txt-box">
                <label for="">Appreciation</label>
                <textarea name="" placeholder="Appreciation" id=""></textarea>
              </div>

              <div class="pp_btn_box">
                <button class="popup-close-btn">Close</button>
                {{!-- <button class="user-save-btn">Save</button> --}}
              </div>
            </div>
          </div>

          {{!-- Form --}}


          <div class="form-section">
            <div class="upload_sec_event_tumb_img_inp_box">
              <h4>
                Post a Testimonials
              </h4>
              <label for="upload_testimonial_images">
                <b>Click To Upload <br>
                  Appreciator Image
                </b>
              </label>
              <input multiple="false" style="display: none" type="file" accept="image/*" id="upload_testimonial_images">

            </div>

            <div class="s-sec-input-box" style="position: relative;">
              <label for="s-sec-name-inp">Appreciator</label>
              <input type="Text" placeholder="Write the name of Appreciator" name_of_Appreciator id="s-sec-name-inp">
              <span class="mention"
                style="position: absolute; bottom:-20px;right:9px;color:red;font: size 10px;"></span>
            </div>
            <div class="s-sec-input-box" style="position: relative;">
              <label for="s-sec-name-inp">Positon</label>
              <input type="Text" placeholder="Write the job Positon of Appreciator" Positon_of_Appreciator
                id="s-sec-name-inp">
              <span class="mention"
                style="position: absolute; bottom:-20px;right:9px;color:red;font: size 10px;"></span>
            </div>
            <div class="s-sec-input-box" style="position: relative;">
              <label for="s-sec-bio-inp">Appreciation</label>
              <textarea placeholder="Write the Appreciation" Appreciation></textarea>
              <span class="mention"
                style="position: absolute; bottom:-20px;right:9px;color:red;font: size 10px;"></span>
            </div>
            <div class="s-sec-btn-box">
              <button uploadTestimonialsButton> Upload</button>
            </div>
          </div>
        </div>

        <!-------------------------- Assets ----------------------------->
        <div id="assets_container" targetedElement="assets_href" style="display: none;" ct_section>
          <div id="assets-images-gallary">
            <div class="images">

            </div>
            <label class="addImage">Add Image <input type="file" accept="image/*" id="upl-image-as-assets" multiple
                style="display: none;"></label>
          </div>

          <div class="video-assets-container">
            <div class="header">
              <h2>Video Assets</h2>
            </div>

            <div class="video-list">
              <!-- Header Row -->
              <div class="video-row header">
                <span>Title</span>
                <span>Description</span>
                <span>Embed Code (iframe)</span>
                <span>Actions</span>
              </div>

              <!-- Dynamic Content -->
              <div id="video-container">
                
              </div>
            </div>
    
            <!-- Controls -->
            {{!-- <div class="controls">
              <button class="add-btn" id="add-video-btn">+ Add Video</button>
            </div> --}}

            <!-- Footer -->
            {{!-- <div class="footer">
              <button class="primary-btn">Save Only</button>
            </div> --}}
          </div>

        </div>
        <!-------------------------- Country Representative ----------------------------->
        <div id="Country_Representative_container" targetedElement="Country_Representative_href" style="display: none;"
          ct_section>

          <table>
            <tr>
              <th width="5%">No</th>
              <th width="10%">Image</th>
              <th width="16%">Name</th>
              <th width="10%">Country</th>
              <th width="40%">description</th>
              <th width="10%">Active</th>
            </tr>
            <tr>

            </tr>
          </table>


        </div>
        <!--------------------------  Custom Link container ----------------------------->
        <section class="customLinksContainer" style="display: none;" targetedElement="customLinks_href" ct_section>

          <table style="font-size: 14.5px;">
            <tr>
              <th>Name</th>
              <th width="30%" style="text-wrap: wrap;">Link</th>
              <th>Expiring Date</th>
              <th>Price</th>
              <th>Status</th>
              <th>Action</th>
            </tr>


          </table>


          <form id="custom-link-generator">
            <h3>Make a custom Discount Link</h3>
            <div class="input-box">
              <label for="custom-link-select">Type</label>
              <select name="" id="custom-link-select">
                <option value="Membership">Membership</option>
                <option value="Course">Course</option>
              </select>
            </div>
            <div class="custom-link-course">
              <div class="input-box">
                <label for="">Course Name</label>
                <select course_name name="" id="">
                  <option value="Our Regular classes">Our Regular classes</option>
                  <option value="Our Online classes">Our Online classes</option>
                  <option value="Our Seminar's">Our Seminar's</option>
                  <option value="Our Women Defence classes">Our Women Defence classes</option>
                  <option value="Bhangra Fitness Class for all ages">Bhangra Fitness Class for all ages</option>
                </select>
              </div>
              <div class="input-box">
                <label>Course Price</label>
                <input course_price type="number" placeholder="Course Price">
              </div>
            </div>

            <div class="custom-link-memberships">
              <div class="input-box">
                <label for="custom-link-membership-type">Membership Type</label>
                <select membership_type id="custom-link-membership-type">
                  <option value="Annual">Annual</option>
                  <option value="LifeTime">LifeTime</option>
                </select>
              </div>
              <div class="input-box">
                <label for="custom-link-membership-organization-name">Membership Organization Name</label>
                <select membership_organization_name id="custom-link-membership-organization-name">
                  <option value="Goju Shin Ryu International Metial Arts">Goju Shin Ryu International Metial Arts
                  </option>
                  <option value="School of Traditional Martial Arts International">School of Traditional Martial Arts
                    International</option>
                </select>
              </div>
              <div class="input-box">
                <label>Price</label>
                <input type="number" membership_price placeholder="new Price of Membership ">
              </div>
            </div>
            <div class="input-box">
              <label for="">Sender Email</label>
              <input type="text" custom-link-reciever-email placeholder="please give the Email list of recievers">
            </div>
            <div class="input-box">
              <label for="">Expiring Date</label>
              <input type="date" custom-link-expiring-date placeholder="Expiring Date of the link">
            </div>
            <div class="generated-link"></div>
            <div class="input-box">
              <button class="Generate-link-btn">Generate</button>
            </div>

          </form>
        </section>

      </div>
    </section>


  </main>

</body>

</html>