<!DOCTYPE html>
<html>
<!-- 
    بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ   
Insha Allab,  By the marcy of Allah,  I will gain success
  
   -->


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Explore our Martial Art courses at the School of Traditional Martial Arts! Learn ancient techniques, build strength, discipline, and self-defense skills in a supportive, expert-led environment.">
  <meta name="keywords"
    content="Martial Courses, Karate Course, Women Defence classes,Bhangar Fitness Class,for all ages">
  <meta property="og:site_name" content="  Goju Shin Ryu ">
  <meta property="og:type" content="website">
  <meta property="og:name" content=" Enroll Martial Courses | Goju Shin Ryu">
  <meta property="og:description"
    content="Explore our Martial Art courses at the School of Traditional Martial Arts! Learn ancient techniques, build strength, discipline, and self-defense skills in a supportive, expert-led environment.">
  <meta property="og:image" content="/img/course-page-image.jpg">
  <title> Explore our courses at the School of Traditional Martial Arts </title>
  <meta name="description"
    content="Explore our courses at the School of Traditional Martial Arts! Learn ancient techniques, build strength, discipline, and self-defense skills in a supportive, expert-led environment.">
  <meta name="keywords" content="courses of  School of Traditional Martial Arts , courses of  Goju Shin Ryu International Martial Arts ">
  {{>Links}}

  <link rel="stylesheet" href="/css/pages/course.page.css" type="text/css" />
  <script src="/js/pages/course.page.js" defer ></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    .currency {
      font-family: "Roboto", sans-serif;
    }
  </style>

<script>
  let globlal_fees_of_regular_class = {{globlal_fees_of_regular_class}};
  let globlal_fees_of_bhangra_fitness = {{globlal_fees_of_bhangra_fitness}};
  let gst_rate = {{gst_rate}};
  let dates_of_regular_class=`{{dates_of_regular_class}}`;
  let dates_of_women_defence_classes=`{{dates_of_women_defence_classes}}`;
  let dates_of_online_classes="{{dates_of_online_classes}}";
</script>
</head>


<body>
  {{>Header}}
  <main>

    <!--course section -->
    <section id="banner" class="heading_section">
      <h2> Enroll To Course's Of Martial Arts</h2>
      <h1>Martial Arts | krav Maga | Goju Ryu </h1>
      <p>
        Explore our courses at the School of Traditional Martial Arts! Learn ancient techniques, build strength,
        discipline, and self-defense skills in a supportive, expert-led environment. </p>
      <button> <a href="#course_section">VIEW COURSES</a>
      </button>
    </section>

    <section class="heading-sec">
      <h2>Our Courses</h2>
    </section>

    <section class="course-container">

      {{!-- Course 1 --}}
      <article class="course-card" data-popup="type1" id="course-our-regular-classes">
        <div class="card-image">
          <img src="/img/2821.jpg" alt="Course Name" />
        </div>
        <div class="card-content">
          <h3>Join Our Regular classes</h3>
          <p>Master self-defense and fitness with our regular martial arts training for all skill levels.</p>
          <ul class="course-features">
            <li> <i class="icon-level"></i>Level: Beginner to Pro</li>
            <li><i class="icon-duration"></i> classes:2 classes week</li>
            <li fees1><i class="icon-price"></i> Fees:loading... </li>
          </ul>
          <div class="btns">
            <button class="enroll-btn">Enroll Now</button>
            <button class="details-btn">Details</button>
          </div>
        </div>
      </article>


      {{!-- Course 2 --}}
      <article class="course-card" data-popup="type1" id="Our-Online-Martial-Art-Classes">
        <div class="card-image">
          <img src="/img/img1.webp" alt="Course Name" />
        </div>
        <div class="card-content">
          <h3>Our Online Martial Art Classes</h3>
          <p>Train from home with expert-led online martial arts classes at your own pace.</p>
          <ul class="course-features">
            <li> <i class="icon-level"></i>Level: Beginner to Pro</li>
            <li><i class="icon-duration"></i> classes:2 classes week</li>
            <li><i class="icon-level"></i>Fees :Contact To Grand Master for fees</li>
          </ul>
          <div class="btns">
            <button class="enroll-btn">Contact Us </button>
            <button class="details-btn">Details</button>
          </div>
        </div>
      </article>


      {{!-- Course 3 --}}
      <article class="course-card" data-popup="type1" id="Our-Seminars">
        <div class="card-image">
          <img src="/img/abs-slide/slide32.jpg" alt="Course Name" />
        </div>
        <div class="card-content">
          <h3>Our Seminars</h3>
          <p>Deepen your martial arts knowledge through our expert-led seminars.</p>
          <ul class="course-features">
            <li> <i class="icon-level"></i>Level: Beginner to Pro</li>
            <li><i class="icon-level"></i>Fees :Contact To Grand Master for fees</li>
          </ul>
          <button class="enroll-btn">Contact Us </button>

        </div>
      </article>

      {{!-- Course 4 --}}
      <article class="course-card" data-popup="type1" id="our-women-defence-classes">
        <div class="card-image">
          <img src="/img/12334.jpg" alt="Course Name" />
        </div>
        <div class="card-content">
          <h3>Our Women Defence Classes</h3>
          <p>Learn practical self-defense techniques in a supportive environment.</p>
          <ul class="course-features">
            <li> <i class="icon-level"></i>Level: Beginner to Pro</li>
            <li><i class="icon-duration"></i> classes:2 classes week</li>
            <li><i class="icon-level"></i>Fees :Contact To Grand Master for fees</li>
          </ul>
          <div class="btns">
            <button class="enroll-btn">Contact Us </button>
            <button class="details-btn">Details</button>
          </div>
        </div>
      </article>

      {{!-- Course 5 --}}
      <article class="course-card" data-popup="type1" id="Bhangra-Fitness-Class-for-All-Ages">
        <div class="card-image">
          <img src="/img/3101.jpg" alt="Course Name" />
        </div>
        <div class="card-content">
          <h3>Bhangra Fitness Class for All Ages</h3>
          <p>A fun and energetic Bhangra fitness class for all ages to stay active and fit.</p>
          <ul class="course-features">
            <li> <i class="icon-level"></i>Level: Beginner to Pro</li>
            <li fees4><i class="icon-level"></i>Fees :loading...</li>
          </ul>
          <button class="enroll-btn">Enroll Now</button>
        </div>
      </article>
    </section>

  </main>



  <!-- Popup for Type 1 (Course Registration) -->
  <div id="popup-type1" class="popup hidden" mode="">
    <form class="popup-form" id="admissionForm">
      <h2>Admission Form</h2>
      <p class="form-info">Please fill in the details below to complete the admission process.</p>
      
      <img class="student-image" src="" alt="" style="display: none;">
      <label for="studentImage"> Student Image</label>
      <input type="file" id="studentImageInput"   {{!-- name="studentImage"  --}} accept="image/*" required>


      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Enter Full Name" required>
      <label for="name">Email Address</label>
      <input type="email" id="email" name="email" placeholder="Enter Email" required>
      
      <label for="phone">Phone Number</label>
      <input type="tel" id="phone" name="phone" placeholder="Enter Phone Number" required>
 
      <label for="dob">Date of Birth</label>
      <input type="date" id="dob" name="dob" aria-details="date of birth" required>
  
     
      <label for="address">Address</label>
      <textarea id="address" name="address" rows="3" placeholder="Enter Address" required></textarea>
  
      <label for="postalCode">Postal Code</label>
      <input type="text" id="postalCode" name="postalCode" placeholder="Enter Postal Code" required>
  
    
  
      <label for="sex">Gender</label>
      <select id="sex" name="sex" required>
        <option value="">Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
       
      </select>
  
      <label for="violence">Convicted of Violence</label>
      <select id="hasViolence" name="hasViolence" required>
        <option value="">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
  
      <label for="medical">Medical Conditions That Will Effect You</label>
      <select id="hasBadMedical" name="hasBadMedical" required>
        <option value="">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
  
      <label for="disability">Disability</label>
      
      <select id="hasDisability" name="hasDisability" required>
        <option value="">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
  
      <label for="details">If Have Disability then Provide details</label>
      <textarea id="disabilityDetails" name="disabilityDetails" rows="3" placeholder="Provide details"></textarea>

      <span class="course-info-text">
        Goju Shin Ryu International has my Permission to take my Photograph/video publicly to promote the practice. I
        understand that images/video may be used in the print brochure, website, and social media. I understand that no
        Royalty, fee, or other compensation shall become payable to me by reason of such use.
      </span>
      <input type="text" id="student_media_permision_signature" name="student_media_permision_signature" placeholder="Signature for Permision" required>


      <label for="purpose">Purpose for Joining Karate</label>
      <textarea id="purpose" name="purpose" rows="3" placeholder="Explain your purpose" required></textarea>
      <label for=""></label>
      
      <label for="phone">Student Signature</label>
      <input type="Text" id="student_signature" name="coupon" placeholder="Enter Signature" required>
      
      <label for="phone">Parent Signature</label>
      <input type="Text" id="parent_signature" name="coupon" placeholder="Enter Parent Signature" required>
      
      <label for="phone">Coupon</label>
      <input type="Text" id="coupon" name="coupon" placeholder="Enter the Coupon To get Discount" required>
      
      <p class="price-display">
        Price: $<span id="base-price">Loading...</span><br>
        GST (5%): $<span id="gst-amount">Loading...</span><br>
        Total: $<span id="total-price">Loading...</span>
      </p>

      <h3>Choose Payment Method</h3>
      <div class="payment-buttons">
        <button type="button" id="paypal-btn" type="submit" >Pay with PayPal</button>
        <button type="button" id="stripe-btn"  type="submit">Pay with Stripe</button>  
      </div>
      <button type="button" class="close-popup" onclick="">Close</button>
    </form>
  </div>



  <!-- Popup for Type 2 (Contact Admin) -->
  <div id="popup-type2" class="popup hidden">
    <form class="popup-form">
      <h2>Contact Admin</h2>
      <p class="form-info">

        If you want to discuss about  fees or course enrollment Contact your Grand Master or request assistance using
        the form.

      </p>

      <p class="admin-contact-info">
        <strong>Email:</strong>gojushinryu@gmail.com
        <br>
        <strong>Phone:</strong> +1 587-577-1323
      </p>

      <input type="text" id="contact-name" placeholder="Your Name" title="give your name" required />
      <input type="tel" id="contact-number" placeholder="Your Phone Number" title="give your Phone Number" required />
      <input type="email" id="contact-email" placeholder="Your Email" title="give your Email" required />
      <input type="text" id="contact-Country" placeholder="Country" title="give your Country" required />
      <input type="text" id="contact-City" placeholder="City" title="give your City" required />
      <input type="text" id="contact-District" placeholder="District" title="give your District" required />
      <input type="text" id="contact-Road"  placeholder="Road No/ Village" title="give your Road No/ Village" required />
      <input type="text" id="contact-zipcode" placeholder="Post-code" title="give your zipcode" required />

      <button id="contact-popup-btn">Request Contact</button>
      <button  class="close-popup">Close</button>
    </form>
  </div>


{{!-- success contact form popup --}}
     <div id="confirmation-popup" class="sc_popup hidden">
          <div class="popup-content">
               <button style="position: absolute;top: 15px;right: 15px;font-size: 1.5rem; color: #888;background: none;border: none;cursor: pointer;transition: color 0.3s ease;" >&times;</button>
               <div class="popup-icon">
                    <i class="icon-checkmark">&#10004;</i>
               </div>
               <h2>Form Submitted Successfully!</h2>
               <p>Your contact request has been submitted. The teacher will review your application and get back to you
                    shortly. Thank you for reaching out!</p>
              <button style="padding: 10px 20px;font-size: 1rem;color:#fff; background:#4caf50;border:none;border-radius: 8px;cursor: pointer;transition:background 0.3s ease;" >Close</button>
          </div>
     </div>



<!-- Popup details popup -->
<div detailspopup1 id="detailspopup-overlay">
    <div id="detailspopup-container">
        <!-- Popup Header -->
        <div id="detailspopup-header">
            <h2>Course Details</h2>
            <button id="close-detailspopup-btn">&times;</button>
        </div>

        <!-- Popup Content -->
        <div id="detailspopup-content">
            <p><strong>Course Name:</strong>Our Martial Art Regular Classes</p>
            <p>
                <strong>Description:</strong> Our flagship Regular Classes are the cornerstone of our academy, meticulously designed to cater to individuals of all skill levels—from beginners to advanced practitioners. Our expert instructors bring years of experience and deep-rooted knowledge to teach traditional martial arts forms, practical self-defense techniques, and advanced sparring methods.
            </p>

            <h3>Class Dates</h3>
            <table class="calendar" id="calendar">
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td class="active">4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>



<!-- Popup details popup -->
<div detailspopup2 id="detailspopup-overlay">
    <div id="detailspopup-container">
        <!-- Popup Header -->
        <div id="detailspopup-header">
            <h2>Course Details</h2>
            <button id="close-detailspopup-btn">&times;</button>
        </div>

        <!-- Popup Content -->
        <div id="detailspopup-content">
            <p><strong>Course Name:</strong> Our Martial Art Online Classes</p>
            <p>
                <strong>Description:</strong> Embracing the digital age, our Online Classes allow students worldwide to access world-class martial arts training from the comfort of their homes. Whether you’re a beginner or a seasoned martial artist, our virtual sessions are carefully crafted to provide an authentic experience.
            </p>
            
            <h3>Class Dates</h3>

            <table class="calendar" id="calendar">
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td class="active">4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{!-- 
<!-- Popup details popup -->
<div detailspopup3 id="detailspopup-overlay">
    <div id="detailspopup-container">
        <!-- Popup Header -->
        <div id="detailspopup-header">
            <h2>Course Details</h2>
            <button id="close-detailspopup-btn">&times;</button>
        </div>

        <!-- Popup Content -->
        <div id="detailspopup-content">
            <p><strong>Course Name:</strong> Our Seminars</p>
            <p>
                <strong>Description:</strong> Our Seminars are exclusive, one-of-a-kind learning opportunities that go beyond traditional classroom settings. Conducted by our senior instructors and special guest martial arts masters, these seminars are designed to deepen your knowledge and refine your skills.
            </p>

           

        </div>
    </div>
</div> --}}
<!-- Popup details popup -->
<div detailspopup4 id="detailspopup-overlay">
    <div id="detailspopup-container">
        <!-- Popup Header -->
        <div id="detailspopup-header">
            <h2>Course Details</h2>
            <button id="close-detailspopup-btn">&times;</button>
        </div>

        <!-- Popup Content -->
        <div id="detailspopup-content">
            <p><strong>Course Name:</strong> Our Women’s Defense Martial Classes</p>
            <p>
                <strong>Description:</strong> Empowerment lies at the heart of our Women’s Defense Martial Classes, a specialized program tailored to address the unique challenges women face in today’s world. These classes emphasize practical self-defense techniques and situational awareness to build confidence and personal safety.
            </p>

            <h3>Class Dates</h3>
            <table class="calendar" id="calendar">
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td class="active">4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{{!-- 
<!-- Popup details popup -->
<div detailspopup5 id="detailspopup-overlay">
    <div id="detailspopup-container">
        <!-- Popup Header -->
        <div id="detailspopup-header">
            <h2>Course Details</h2>
            <button id="close-detailspopup-btn">&times;</button>
        </div>

        <!-- Popup Content -->
        <div id="detailspopup-content">
            <p><strong>Course Name:</strong> Advanced Web Development</p>
            <p>
                <strong>Description:</strong> For those seeking a fun, high-energy workout, our Bhangra Fitness Classes combine traditional Punjabi dance with modern fitness routines. Suitable for all ages and fitness levels, this program blends culture, cardio, and rhythm into an exhilarating experience.
            </p>

            

        </div>
    </div>
</div> --}}

  {{>Footer}}
  <script>


    (function (event) {
      let cards = this.document.querySelectorAll('.course-card');

      //regular classes
      let total = globlal_fees_of_regular_class + (globlal_fees_of_regular_class * (gst_rate / 100));
      cards[0].querySelector(`[fees1]`).innerHTML = ` Fees:$${total.toFixed(2)} ($${globlal_fees_of_regular_class.toFixed(2)} + 5% gst)`;


      // Bhangra Fitness Class for All Ages
      total = globlal_fees_of_bhangra_fitness + (globlal_fees_of_bhangra_fitness * (gst_rate / 100));
      cards[4].querySelector(`[fees4]`).innerHTML = ` Fees:$${total.toFixed(2)} ($${globlal_fees_of_bhangra_fitness.toFixed(2)} + 5% gst)`;

    })();

  </script>
  </body>

</html>