{{!-- 
بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  
Insha Allah,  By His Marcy I will Gain Success 
 --}}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events | {{>company_name}}</title>
    <link rel="stylesheet" href="/css/pages/events.css">
    {{>Links}}
    <meta name="description" content="view the events of {{>company_name}} and Goju Shin Ryu International Martial Arts ">
    <meta name="keywords" content="events of {{>company_name}}, events of Goju Shin Ryu International Martial Arts">

</head>
<body>
    {{>Header}}
    <main>
        <div id="banner">
        <h1>Events </h1>
    </div>
    <div id="events_sec">
    
       {{#each events}}
       <div class="event">
            <img src="{{this.thumb}}" alt="event image of {{>company_name}}">
            <div class="div1">
                <div>
                    <h2>{{this.title}}</h2>
                    <span> {{this.organizerCountry}}</span>
                </div>
                <time>
                    <span>{{this.month}}</span>
                    <b>{{this.date}}</b>
                </time>
            </div>
            <p>{{this.description}}</p>
            <hr>
            <div class="div2">
                <span>Join Know</span>
                <span>Contact Us</span>                       
            </div>
        </div>
       {{/each }}

    </div>
    </main>
    {{>Footer}}
</body>
</html>